/* Not entirely correct if you have a device that doesn't match the expectations this implies in portrait or landscape mode about the "widest" dimension. */
@media (orientation: portrait) {

    @-webkit-viewport {
        width: 480px;
    }

    @-moz-viewport {
        width: 480px;
    }

    @-ms-viewport {
        width: 480px;
    }

    @-o-viewport {
        width: 480px;
    }

    @viewport {
        width: 480px;
    }
}

@media (orientation: landscape) {

    @-webkit-viewport {
        height: 480px;
    }

    @-moz-viewport {
        height: 480px;
    }

    @-ms-viewport {
        height: 480px;
    }

    @-o-viewport {
        height: 480px;
    }

    @viewport {
        height: 480px;
    }
}

/* Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome */
@font-face {
  font-family: "FontAwesome";
  src: url("fontawesome-webfont.woff?v=3.0.1") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    /* from http://lea.verou.me/css3patterns/#carbon-fibre Warning: intensive webpage. */
    background: url(necta5player-light.png);
    background-color: #282828;
}

body {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

#widget {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    height: 380px;
    margin-top: -190px;
    margin-left: -190px;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

#widget > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: white;
    border-radius: 7px;
    box-shadow: 0 0 5px black;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#widget > div:last-child {
    z-index: 0;
}

#widget > div:last-child, #widget.preferences {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.button {
    display: inline-block;
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    text-shadow: 0 1px 0 white;
    /*color: #191970;*/
    border: 5px solid white;
    border-radius: 30px;
    background: lightgray;
    box-shadow: 1px 1px 3px #999;
    cursor: pointer;
    opacity: 0;
    /* 2 second delay on out is for mobile browsers */
    -webkit-transition: opacity .75s ease-out 2s;
    transition: opacity .75s ease-out 2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sorry .button {
    display: none;
}

#widget:hover .button {
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.button[title="preferences"] {
    font-family: serif;
    font-style: italic;
}

#widget > div > div {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 0;
    padding: 10px;
    font-family: Open Sans, san-serif;
    color: white;
    background: #131313;
    border-radius: 5px;
}

audio {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    margin: -.5em -10px 0 0;
    font-size: 6.5em;
}

h1, h2 {
    overflow: hidden;
    font-weight: normal;
    text-transform: lowercase;
}

h1, #widget > div:first-child h2 {
    white-space: nowrap;
}

h4, h5 {
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
}

h5 {
    font-weight: normal;
}

h4 + div {
    float: right;
    font-size: smaller;
    color: lightgray;
}

h4 + div:before {
    content: "(";
}

h4 + div:after {
    content: " \231B)";
}

h4 + p {
    overflow: hidden;
    margin: 0;
    font-size: smaller;
    white-space: nowrap;
}

time {
    float: right;
    margin-left: 1em;
    color: lightgray;
}

#datapanel > div {
    margin-top: .3em;
}

#datapanel h3 {
    margin: .5em 0 .25em;
    color: gray;
    border-bottom: 1px solid;
}

#datapanel div:first-child h3 {
    margin-top: 0;
}

#datapanel > span {
    position: absolute;
    right: 10px;
    bottom: 5px;
    left: 10px;
    font-size: small;
    text-align: center;
    color: gray;
}

#datapanel > span:before {
    content: "(";
}

#datapanel > span:after {
    content: ")";
}

#title {
    font-size: 3.5em;
}

#artist {
    margin-top: -.375em;
    font-size: 2em;
}

#title a, #artist a {
    color: white;
    text-decoration: none;
}

#warning {
    display: none;
    margin-top: .5em;
    padding: 0 10px;
    font-size: medium;
    font-weight: normal;
    color: #ff6347;
}

#preferences > ul {
    padding: 0;
    padding-left: 10px;
}

#preferences li {
    list-style-type: none;
}

#preferences > ul > li {
    position: relative;
    margin-bottom: .125em;
}

#preferences > ul > li:first-child {
    margin: 1em 0;
}

#stream {
    display: inline-block;
    position: relative;
    height: 1.5em;
    z-index: 1;
    vertical-align: top;
    overflow: hidden;
    margin-left: 1em;
    padding: 0;
    border: 1px solid white;
    border-radius: 1px;
    cursor: pointer;
}

#stream.open {
    overflow: visible;
}

#stream:before, #stream:after {
    content: "";
    position: absolute;
    right: .25em;
}

#stream:before {
    top: .375em;
    border-right: .25em solid transparent;
    border-left: .25em solid transparent;
    border-bottom: .25em solid white;
}

#stream.open:before {
    border-bottom-color: black;
}

#stream:after {
    bottom: .375em;
    border-top: .25em solid white;
    border-right: .25em solid transparent;
    border-left: .25em solid transparent;
}

#stream.open:after {
    border-top-color: black;
}

#stream li {
    overflow: hidden;
    padding: 0 1em 0 .25em;
}

/* -1px covers up left and right borders from parent when open */
#stream.open li {
    margin: 0 -1px;
    color: black;
    background: white;
}

/* Pad the left and right in pixels (as padding is already in use with em) to account for the -1px so the text doesn't appear to move */
#stream.open li:before, #stream.open li:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1px;
}

#stream.open li:before {
    float: right;
}

#stream.open li:after {
    float: left;
}

#stream span {
    float: right;
    padding-left: .25em;
}

#preferences input[type="radio"] {
    margin-right: .375em;
    opacity: .01;
}

/* WebKit puts the labels too close to the stylized inputs. */
#preferences .webkit label {
    padding-left: .25em;
}

#preferences input[type="radio"] + label:before {
    content: "";
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: .25em;
    left: .125em;
    width: 1em;
    height: 1em;
    background: black;
    border: 2px solid white;
    border-radius: 1em;
}

#preferences input[type="radio"]  + label:after {
    content: "";
    visibility: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: .5em;
    left: .375em;
    width: .5em;
    height: .5em;
    background: white;
    border-radius: .5em;
}

#preferences  input[type="radio"] + label:active:after, #preferences  input[type="radio"]:checked + label:after {
    visibility: visible;
}
